
<div class="container" style="padding: 2%;">
    <h1 style="font-size: 32px; color: #333; text-align: center; margin-top: 20px; margin-bottom: 20px;">Master Data Film</h1>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
        <button mat-raised-button color="primary" style="float: right;">Add Data</button>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.film_id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>
      
          <ng-container matColumnDef="release">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Release </th>
            <td mat-cell *matCellDef="let row"> {{row.release_year}} </td>
          </ng-container>
      
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updates </th>
            <td mat-cell *matCellDef="let row"> {{convertDate(row.last_update)}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</div>
