<h2 mat-dialog-title>{{ dataActor ? 'Edit' : 'Tambah' }} Aktor</h2>
<div mat-dialog-content>
  <form [formGroup]="actorForm">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="first_name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="last_name">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="actorForm.invalid">{{ dataActor ? 'Update' : 'Save' }}</button>
</div>
